<?xml version="1.0"?>
<config>
	<modules>
		<AnattaDesign_AddToCartSwitcher>
			<version>0.1.0</version>
		</AnattaDesign_AddToCartSwitcher>
	</modules>
	<global>
		<models>
			<anattadesign_addtocartswitcher>
				<class>AnattaDesign_AddToCartSwitcher_Model</class>
			</anattadesign_addtocartswitcher>
		</models>
		<helpers>
			<anattadesign_addtocartswitcher>
				<class>AnattaDesign_AddToCartSwitcher_Helper</class>
			</anattadesign_addtocartswitcher>
		</helpers>
		<resources>
			<anattadesign_addtocartswitcher_setup>
				<setup>
					<module>AnattaDesign_AddToCartSwitcher</module>
					<class>AnattaDesign_AddToCartSwitcher_Model_Resource_Setup</class>
				</setup>
			</anattadesign_addtocartswitcher_setup>
		</resources>
	</global>
	<frontend>
		<events>
			<checkout_cart_add_product_complete>
				<observers>
					<anattadesign_addtocartswitcher>
						<type>singleton</type>
						<class>AnattaDesign_AddToCartSwitcher_Model_Observer</class>
						<method>checkoutCartAddProductComplete</method>
					</anattadesign_addtocartswitcher>
				</observers>
			</checkout_cart_add_product_complete>
		</events>
	</frontend>
</config>